.photo-grid {
  padding-top: 5.75rem;
  max-width: 1184px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  grid-gap: 1em;
}
