.lead__subtitle {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 4rem;
}
@media screen and (max-width: 1025px) {
  .lead__subtitle {
    margin-bottom: 3.5rem;
  }
}

@media screen and (max-width: 662px) {
  .lead__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 321px) {
  .lead__subtitle {
    margin-bottom: 2.5rem;
  }
}
