.footer {
  display: flex;
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 5.75rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 1025px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 769px) {
  .footer {
    max-width: 720px;
    padding-top: 5.5rem;
  }
}

@media screen and (max-width: 662px) {
  .footer {
    flex-direction: column;
    padding: 4rem 1rem 0 1rem;
  }
}
